ENV=dev
DOCKER=yes
# STORAGE must be s3 or file
STORAGE=s3
SESSION_SECURE=true
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
ADMIN_USERNAME=pypi-admin
ADMIN_PASSWORD=pypi-admin
S3_BUCKET=pypi
READ_USER=pypi-read
READ_USER_PASSWORD=pypi-read

